mixin proposalsForm(_resource_)
  - resource = _resource_;
  - resource && !resource.get && (resource.get = function(field) { return ''; });
  form(action=proposalsPath() method='post')
    block
    - resource = null

mixin input(name, options)
  - options || (options = {})
  - var fullname = resource && resource.modelName ? (resource.modelName.toLowerCase() + '[' + name + ']') : name;
  - var value = resource && resource.get ? resource.get(name) : '';
  - var id = fullname.replace(/[^\w]+/g, '_').replace(/^_+|_+$/, '');
  .form-group
    label(for=id)= options.label
    if options.type === 'textarea'
      textarea.form-control(name=fullname id=id)= value
    else
      .row
        .col-xs-5
          input.form-control(type=(options.type || 'text') placeholder=options.placeholder value=value name=fullname id=id)
    if options.hint
      .help-block= options.hint

mixin submit
  button.btn.btn-primary(type='submit') Submit Proposal

mixin team-member-wrapper(peeps)
  if peeps.length % 3 == 0
    .col-xs-6.col-md-4
      block
  else
    .col-xs-6.col-md-3
      block

mixin team(peeps)
  if peeps
    .proposal-team
      .container
        .proposal-description
          h2 Team
          .row
            each p in peeps
              +team-member-wrapper(peeps)
                .team-member
                  img.team-member-image(src=p.image alt=p.name)
                  .team-member-name
                    = p.name
                  .team-member-role
                    = p.role

mixin carousel-indicators(target, count)
  ol.carousel-indicators&attributes(attributes)
    - for (var i = 0; i < count; i++)
      li(class=(!i ? 'active' : '') data-target=target data-slide-to=i)
