extends /layout
include /mixins/fake_browser
include /mixins/proposal_gallery
include /mixins/proposal_video
include /mixins/proposals

block content
  - var meta = inkpad.metadata || {};
  .container
    h3.proposal-title= meta.title
    ul.proposal-details
      li By <span class='em'>#{meta.by}</span>
      if meta.funding
        li.divider
        li Funding <span class='em'>#{meta.funding}</span>
      if typeof meta.days_to_go === 'number'
        li.divider
        li <span class='em'>#{meta.days_to_go}</span> days to go
      if meta.vote
        li.divider
        li Vote <span class='em'>#{meta.vote.current}%</span> (#{meta.vote.needed}% needed)

  +proposal-video(meta.video)

  if meta.gallery && !meta.video
    .proposal-gallery-wrapper
      if meta.preproposal !== false
        +proposal-badge
      +proposal-gallery(class='carousel-fade')
        .container
          +proposal-gallery-items
            each src, index in meta.gallery
              .item(class=(index === 0 ? 'active' : ''))
                img(src=src alt='')

          +carousel-indicators('#proposal-gallery', meta.gallery.length)

  .container
    .proposal-description
      != inkpad

  +team(meta.team)
